html, body, #map {
    width : 100%;
    height : 100%;
}

a { cursor: pointer; }

#menu {
    display: block;
    width: 300px;
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    opacity: 0.8;
}

.menu-expanded {
    display: block !important;
}

.menu-collapsed {
    display: none !important;
}

@media (max-width: 767px) {
    #menu {
        display: none;
        width: 80%;
    }

    #menu-hide {
        left: 100% !important;
    }
}

@media (min-width: 768px) {
    #menu-show {
        display: none;
    }
}

.menu-collapser {
    z-index: 1000;
    position: absolute;
    width: 30px;
    height: 100px;
    top: 25%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-box-shadow:    2px 0px 2px 0px #ccc;
    -webkit-box-shadow: 2px 0px 2px 0px #ccc;
    box-shadow:         2px 0px 2px 0px #ccc;
    cursor: pointer;
}

.menu-collapser > span {
    position: relative;
    top: 43px;
    left: 8px;
}

#menu-show {
    left: 0;
}

#menu-hide {
    left: 300px;
}

#menu-show:hover, #menu-hide:hover {
    color: #337ab7;
}